html{
  font-family: 'Nunito', sans-serif;
  }

body{
  
  margin: 0;
  padding: 0;
}

.bg img{
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.mike h1{
  position: absolute;
  top: 10%;
  left: 63.3%;
  text-align: justify;
  font-size: 70px;
  padding: 0;
  margin: 0;
}
.mike p{
  position: absolute;
  font-size: 17px;
  font-weight: 900px;
  top: 27%;
  text-align: justify;
  left: 63.3%;
  padding: 0 30px 0 0;
  margin: 0;
}
.mike button{
  position: absolute;
  top: 80%;
  right: 5%;
  width: 200px;
  border-radius: 100px;
  font-size: 1rem;
  padding: 15px;
  font-weight: bolder;
  background-color: #6BA8A9;
  color: #ffffff;
  border: none;
  outline: none;
  text-align: center;
  margin: 20px;
  
}
.mike img{
  position: absolute;
  top: 3%;
  width: 7%;
  height: 7%;
}


/*MIN WIDTH 370PX*/
@media only screen and (max-width:370px){
  .bg img{
    position: absolute;
    width: 100%;
    height: 40%;
    border-radius: 0 0 20px 20px;
  }
  .mike h1{
    position: absolute;
    left: 2%;
    top: 42%;
    font-size: 30px;
    margin: 0;
  }
  .mike img{
    position: absolute;
    top: 43%;
    right: 1%;
    width: 15%;
    height: 4%;
    }
  .mike p{
    position: absolute;
    font-size: 11px;
    font-weight: bolder;
    top: 50%;
    left: 0;
    text-align: justify;
    padding: 10px;
    
    
    margin: 0;
  }
  .mike button{
    position: absolute;
    top: 89%;
    right: 5%;
    width: 150px;
    border-radius: 8px;
    font-size: 13px;
    padding: 15px;
    font-weight: bolder;
    background-color: #6BA8A9;
    color: #ffffff;
    border: none;
    outline: none;
    text-align: center;
    margin: 0;
    
}

}

/*MIN WIDTH 375PX*/

@media only screen and (min-width:371px){
  .bg img{
    position: absolute;
    width: 100%;
    height: 40%;
    border-radius: 0 0 20px 20px;
  }
  .mike h1{
    position: absolute;
    left: 2%;
    top: 41%;
    font-size:48px;
    margin: 0;
  }

  .mike img{
    position: absolute;
    top: 44%;
    right: 1%;
    width: 15%;
    height: 4%;
    }
  .mike p{
    position: absolute;
    font-size: 12.5px;
    font-weight: bolder;
    top: 52%;
    left: 0;
    text-align: justify;
    padding: 10px;
    
    
    margin: 0;
  }
  .mike button{
    position: absolute;
    top: 89%;
    right: 5%;
    width: 150px;
    border-radius: 8px;
    font-size: 14px;
    padding: 15px;
    font-weight: bolder;
    background-color: #6BA8A9;
    color: #ffffff;
    border: none;
    outline: none;
    text-align: center;
    margin: 0;
    
}

}

/*MIN WIDTH 450PX*/

@media only screen and (min-width:450px){
  .bg img{
    position: absolute;
    width: 100%;
    height: 40%;
    border-radius: 0 0 20px 20px;
  }
  .mike h1{
    position: absolute;
    left: 2%;
    top: 41%;
    font-size:48px;
    margin: 0;
  }

  .mike img{
    position: absolute;
    top: 44%;
    right: 1%;
    width: 12%;
    height: 4%;
    }
  .mike p{
    position: absolute;
    font-size: 14px;
    font-weight: bolder;
    top: 52%;
    left: 0;
    text-align: justify;
    padding: 10px;
    
    
    margin: 0;
  }
  .mike button{
    position: absolute;
    top: 89%;
    right: 5%;
    width: 150px;
    border-radius: 10px;
    font-size: 14px;
    padding: 15px;
    font-weight: bolder;
    background-color: #6BA8A9;
    color: #ffffff;
    border: none;
    outline: none;
    text-align: center;
    margin: 0;
    
}

}

/*MIN WIDTH 650PX*/

@media only screen and (min-width:650px){
  .bg img{
    position: absolute;
    width: 100%;
    height: 40%;
    border-radius: 0 0 20px 20px;
  }
  .mike h1{
    position: absolute;
    left: 2%;
    top: 41%;
    font-size:48px;
    margin: 0;
  }

  .mike img{
    position: absolute;
    top: 44%;
    right: 1%;
    width: 10%;
    height: 4%;
    }
  .mike p{
    position: absolute;
    font-size: 16px;
    font-weight: bolder;
    top: 52%;
    left: 0;
    text-align: justify;
    padding: 10px;
    
    
    margin: 0;
  }
  .mike button{
    position: absolute;
    top: 89%;
    right: 5%;
    width: 150px;
    border-radius: 12px;
    font-size: 14px;
    padding: 15px;
    font-weight: bolder;
    background-color: #6BA8A9;
    color: #ffffff;
    border: none;
    outline: none;
    text-align: center;
    margin: 0;
    
}

}

/*MIN WIDTH 800PX*/
@media only screen and (min-width:800px){
  .bg img{
    position: absolute;
    width: 100%;
    height: 55%;
    border-radius: 0 0 20px 20px;
  }
  .mike h1{
    position: absolute;
    left: 2%;
    top: 55%;
    font-size: 50px;
  }

  .mike img{
    position: absolute;
    top: 57%;
    right: 1%;
    width: 8%;
    height: 5%;
    }
  .mike p{
    position: absolute;
    font-size: 17px;
    font-weight: 900;
    top: 62%;
    left: -0.2%;
    text-align: justify;
    padding: 20px;
    
    
    margin: 0;
  }
  .mike button{
    position: absolute;
    top: 89%;
    right: 5%;
    width: 200px;
    border-radius: 14px;
    font-size: 20px;
    padding: 15px;
    font-weight: bolder;
    background-color: #6BA8A9;
    color: #ffffff;
    border: none;
    outline: none;
    text-align: center;
    margin: 0;
  }

}



@media  only screen and (min-width:1100px){
  
.bg img{
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0 20px 20px 0;
}
.mike h1{
  position: absolute;
  top: 22%;
  left: 63.3%;
  text-align: justify;
  font-size: 70px;
  padding: 0;
  margin: 0;
}
.mike p{
  position: absolute;
  font-size: 17px;
  font-weight: 900px;
  top: 35%;
  text-align: justify;
  left: 63.3%;
  padding: 0 30px 0 0;
  margin: 0;
}
.mike button{
  position: absolute;
  top: 86%;
  right: 1%;
  width: 200px;
  border-radius: 100px;
  font-size: 1rem;
  padding: 15px;
  font-weight: bolder;
  background-color: #6BA8A9;
  color: #ffffff;
  border: none;
  outline: none;
  text-align: center;
  margin: 20px;
  
}
.mike img{
  position: absolute;
  top: 3%;
  width: 7%;
  height: 7%;
}

}


